# Arquivos e diretórios do sistema operacional
.DS_Store
Thumbs.db

poetry.lock
pyproject.toml

# Ambiente virtual
env/
myenv/
__pycache__/

# Arquivos temporários
*.pyc
*.pyo
*.bak
*.swp
*.tmp

# Pastas de log e erro
logs/
errors/

# .env

# Arquivos do Docker
.dockerignore

# Diretório do node_modules
node_modules/

# Arquivos gerados automaticamente pelo Python
*.pyc
*.pyo
*.pyd
*.pyre

# Arquivos de cache do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de cache do PyCharm e outras IDEs
.idea/
# .vscode/

# Arquivos gerados pelo yarn
yarn-error.log
yarn.lock

# Arquivos de instalação do Python
*.egg-info/
dist/
build/


# apache spark

spark-3.2.4-bin-hadoop3.2
spark-3.2.4-bin-hadoop3.2.tgz
spark-3.2.4-bin-hadoop3.2.tgz.1
