requests==2.29.0
pandas==1.3.5
plotly==5.3.1
streamlit==1.22.0
streamlit-authenticator==0.2.1
streamlit-lottie==0.0.3
tornado==6.0.4
scipy==1.10.1
yagmail==0.14.260
extra-streamlit-components==0.1.56
deta==1.1.0
numpy==1.21.0
matplotlib==3.4.3
pyspark==3.2.0
findspark==1.4.2
hydralit-components==1.0.10
importlib-metadata==6.6.0